:root {
	--color-green-500: oklch(72.3% .219 149.579);
	--color-amber-500: oklch(76.9% .188 70.08);
}

*, ::before, ::after { box-sizing: border-box;}
html, body { width: 100%; min-height: 100%; }

body {
	position: relative;
	background-color: #fafafa;
	padding-inline: max(4vw, 32px);
	padding-block-start: max(1vh, 8px);
	padding-block-end: max(6vh, 32px);
	overflow-x: hidden;
}

svg.section-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #505050;
	background: #f0f0f0;
	padding: .5rem;
	border-radius: 50%;
	box-sizing: initial;
}

h1 { font-weight: 400; line-height: 2rem; }
p { line-height: 1.1rem; padding: 0; margin: 0.5rem 0 .25rem;}

p.field-label {
	font-weight: 600;
	font-size: 0.8rem;
	line-height: 0.9rem;
	margin-bottom: .5rem;
}

textarea,
button,
input {
	display: inline-block;
	border-radius: 4px;
	font-family: inherit;
	border: solid 1px #808080;
	padding: 6px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 8px 16px;
}

header {
	p { margin: 0; font-size: .9rem; }
	h1 {
		font-weight: 400;
		margin: 0;
		margin-block-end: .25rem;
		padding: 0;
	}
}

.summary {
	position: sticky;
	top: 0px;
	margin-left: -64px;
	margin-right: -64px;
	padding-left: 84px;
	padding-right: 84px;
	z-index: 9999;

	h1 {
		display: block;
		position: relative;
		line-height: initia;
		margin-top: 1.25rem;
		margin-bottom: .5rem;
		line-height: 1.75rem;
		strong {
			display: inline-block;
			text-align: right;
			min-width: 2ch;
			font-size: 3.5rem;
			font-weight: 400;
		}
		sub { font-size: .8rem; }
	}
	p { font-size: .75rem; margin-top: .5rem; line-height: 100%; }
}

.tc-vars {
	--border: solid 1px #c0c0c0;
	--weekend-bg: #f8f8f8;

	--day-off: #efc020;
	--day-off: var(--color-amber-500);
	--day-off-bg: #ffffea;
}

.team-calendar {
	margin-bottom: 1rem;

	border: var(--border);
	border-bottom: none;
}
.team-calendar table {
	border-collapse: collapse;
	min-width: 100%;
}
.team-calendar .sticky {
	position: sticky;
	white-space: nowrap;
	cursor: initial;
	left: 0;
	z-index: 990;
}
.team-calendar th,
.team-calendar td {
	cursor: pointer;
	min-width: 80px;
	font-size: .75rem;
	padding: 6px 12px;

	border-right: var(--border);
	border-bottom: var(--border);
}
.team-calendar th { background-color: #f0f0f0; font-weight: 300; height: 48px; }
.team-calendar td { background-color: #ffffff; text-align: center; }
.team-calendar .dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-block: auto;
	background-color: #e0e0e0;
}
.team-calendar .open { background-color: #fafffa; }
.team-calendar .open .dot { background-color: #80f480; background-color: var(--color-green-500); }
.team-calendar .day-off { background-color: var(--day-off-bg); }
.team-calendar .day-off .dot { background-color: var(--day-off); }
.team-calendar .holiday .dot { background-color: #f48080; }
.team-calendar .weekend { color: #a0a0a0; background-color: var(--weekend-bg); }
.team-calendar .holiday { background-color: #ffe0e0; color: #8f4040; font-weight: bold; }

.team-calendar { border-radius: 12px; }
.team-calendar td:last-child,
.team-calendar th:last-child { border-right: none; }


.legend { font-size: 0.8rem; }
.legend .dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-block: auto;
	background-color: #e0e0e0;
}
.legend .day-off .dot { background-color: var(--day-off); }
.legend .open .dot { background-color: #80f480; background-color: var(--color-green-500); }
.legend .weekend .dot { background-color: var(--weekend-bg); }
.legend .holiday .dot { background-color: #f48080; }